<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'index'}}<img src="assets/images/logga_utan.png" height="50px"/>{{/link-to}}
        {{#if session.isAuthenticated}}{{#link-to 'bookings.index'}}Bokningar{{/link-to}}{{/if}}
    </div>
        <ul class="nav navbar-text">
          <li>Biljettsystem - Köp dina biljetter här!</li>
        </ul>
  </div>
</nav>
<div class="container" style="margin-bottom:70px;">
  {{outlet}}
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="text-center">
    <p class="navbar-text text-center" style="float:none"><b>Grebbans Nöjesrestaurang</b> | Hemsida: <a href="http://www.grebbans.se" target="_blank"><b>www.grebbans.se</b></a> | E-post: <b>info@grebbans.se</b> | Telefon: <b>0730-314407</b>
    {{#if session.isAuthenticated}}
      | <a class="navbar-link" href="javascript.void();" {{action 'invalidateSession'}}>Logga ut</a>
    {{else}}
       | {{#link-to 'login' class="navbar-link"}}Admin{{/link-to}}
      {{/if}}
      </p>
    </div>
  </div>
