<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'index' class="navbar-brand"}}Grebbans Bokningssystem{{/link-to}}
    </div>
        <ul class="nav navbar-nav">
          <li>{{#link-to 'events'}}Kommande evenemang{{/link-to}}</li>
        </ul>
  </div>
</nav>
<div class="container" style="margin-bottom:70px;">
  <div class="alert alert-danger">
    <strong>OBS: </strong>Detta är en TEST-sida. Det går INTE att genomföra några faktiska bokningar ännu! De EVENTS som finns angivna här är PÅHITTADE.
  </div>
  {{outlet}}
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="text-center">
    <p class="navbar-text text-center" style="float:none"><b>Grebbans Nöjesrestaurang</b> | Hemsida: <a href="http://www.grebbans.se" target="_blank"><b>www.grebbans.se</b></a> | E-post: <b>info@grebbans.se</b> | Telefon: <b>0730-314407</b>
    {{#if session.isAuthenticated}}
      | <a class="navbar-link" href="javascript.void();" {{action 'invalidateSession'}}>Logga ut</a>
    {{else}}
       | {{#link-to 'login' class="navbar-link"}}Admin{{/link-to}}
      {{/if}}
      </p>
    </div>
  </div>
