  <div class="jumbotron">
    <h1 class="display-3">Grebbans Nöjesrestaurang - Biljetter</h1>
    <p class="lead">Köp biljetter till Grebbans Nöjesrestaurang här!</p>
    <hr class="my-4">
    <p>
    <ol>
      <li>Välj önskat datum bland {{#link-to 'events'}}alla våra Events!{{/link-to}}</li>
      <li>Fyll i dina uppgifter och önskat antal biljetter</li>
      <li>Bekräfta köpet genom att godkänna våra villkor</li>
      <li>Du får en bekräftelse på ditt köp via mail, samt länk till faktura och biljett</li>
      <li>Betala fakturan via banköverföring <i> - Var noga med att ange fakturanumret i meddelanderutan vid betalning</i></li>
      <li>Skriv ut och ta med biljetten till Grebbans Nöjesrestaurang!</li>
    </ol>
    </p>

    <div class="alert alert-info">
      Är ni ett större sällskap på <strong>över 15 pers.</strong> så kontakta oss på telefon 0730-314407 för personlig service
      eller maila din beställning till info@grebbans.se
    </div>

    <p class="lead">
    {{#link-to 'events' class="btn btn-primary btn-lg"}}Gå till listan av Events{{/link-to}}
    </p>

  </div> 
