<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>Backup av bokningar</h1>
    <p>
    Bifogat 채r en fil som inneh책ller bokningsinformation om samtliga kommande events, samt events som 채gt rum de senaste 6 m책naderna.
      </p>
  </body>
</html>
