
<div class="row">
  <div class="col-xs-3">
    {{#link-to 'events.index'}}{{fa-icon 'chevron-left'}} Tillbaka till listan{{/link-to}}
    </div>
    <div class="col-xs-9">
      <div class="pull-right">
        {{#if session.isAuthenticated}}
          <button class="btn btn-danger" {{action 'delete' model}}>Radera</button>
          {{#link-to 'events.show.edit' class="btn btn-default"}}Redigera{{/link-to}}
          {{/if}}
      </div>
    </div>
  </div>
  <h1>{{model.name}}</h1>
  <p>{{model.description}}</p>

